body {
	background-color: $page-bg-color;
	color: $text-color;
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.content-wrapper {
	min-height: 100vh;
	max-width: 100%;
	margin-top: 90px;
}

img {
	border-radius: 2px;
	border: $base-border;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.divider {
	border-top: $base-border;
	margin: 20px 0;
}

.content-grid {
	display: grid;
	grid:
		"sidebar stream" 1fr / 15% 35%;
	gap: 1%;
	grid-auto-flow: column;
	justify-content: center;
}

.content-grid#article {
	grid:
		"sidebar stream" 1fr / 5% 45%;
	gap: 1%;
}

.sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.stream {
	grid-area: stream;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.post {
	width: 100%;
	display: grid;
	grid:
		"header" auto "main" 1fr "footer" auto / 1fr;
	gap: 8px;

	border: $base-border;
	background-color: $box-color;
	border-radius: 10px;
	font-size: 12pt;
	// box-shadow: 4px 4px 0px 1px $shadow-color;
}

.header {
	grid-area: header;
	border-bottom: $base-border;
	padding-left: 10px;
}

.main {
	grid-area: main;
	padding-left: 10px;
	text-wrap: stable;
}

.footer {
	grid-area: footer;
	background-color: $outline-color;
	color: $text-color;
	font-style: italic;
	padding-left: 10px;
}

button {
	height: 100%;
	width: auto;
	background-color: transparent;
	color: $text-color;
	border-radius: 10px;
	border-color: transparent;
}

nav.topbar {
	width: 100%;
	height: 60px;
	background-color: $box-color;
	border: $base-border;
	top: 0;
	position: fixed;
	margin: 0 auto;
	text-align: center;
}

nav.topbar ul {
	display: inline-block;
}

nav.topbar ul {
	list-style: none;
	text-align: center;
}

nav.topbar ul li {
	display: inline-block;
	width: 10rem;
}

nav.topbar ul li:not(:first-child) {
	border-left: 2px dotted $sub-color;
	margin-left: 10px;
}

nav.topbar ul li a {
	display: block;
	text-decoration: none;
	color: $text-color;
	font-weight: 500;
	text-transform: lowercase;
}