@charset "utf-8";

$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 18px;
$base-line-height: 1.5;
$heading-line-height: 1.2;
$text-color: #555555;
$outline-color: #EEEEEE;
$shadow-color: #fdfdfd;
$page-bg-color:#F5F5F5;
$box-color: #FFFFFF;
$sub-color: #e6e6e6;
$accent-color: #B85B6D;
$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$base-border: 2px solid $outline-color;

@import
  "base",
  "typeface"
;
